.pokemon-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
}

.pokemon {
    width: fit-content;
    height: fit-content;
}

.pokemon img {
    width: 8rem;
    height: 8rem;
    filter: drop-shadow(2px 4px 6px black);
}


dt {
    border: 1px solid black;
    text-align: center;
    padding: 0.3rem;
    border-radius: 0.6rem 0.6rem 0 0;
    box-shadow: inset 0px 0px 11px -1px white;
}

dd {
    margin: 0;
    text-align: center;
    border: 1px solid black;
    border-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border-radius: 0 0 0.6rem 0.6rem;
    background-color: white;
    color: black;
}

#teams-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}



dt.throw {
    background-color: #8ADF8E;
    color: black;
}

dt.attack {
    background-color: #CD1041;
    color: white;
}

dt.name {
    background-color: #E6BD31;
    color: black;
}

dt.defense {
    background-color: #2E52D7;
    color: white;
}

dt.throw-max-label {
    background-color: #868FA8;
    color: black;
}
